.home {
  width: 80%;
  margin: auto;
  position: absolute;
  top: 30%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
}

.button-home {
  margin: auto;
  position: absolute;
  top: 40%;
}
