
@media screen and (max-width: 1028px) {

  #questions-style {
    margin-top: 11vmax;
  }

  form {
    max-width: 95%;
    margin-left: 5rem;
  }

  h1 {
    text-align: center;
  }

  .inputWidth {
    width: 40rem !important;
    margin: auto;
  }

  .questionBut {
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* margin-left: 1.5rem; */
    padding: 0.5rem;
    font-size: 1.2rem;
    width: 90%;
  }

  .maxStyle {
    margin-top: 1rem;
  }

  .question-table-style {
    /* margin-left: auto;
    margin-right: auto; */
    max-width: 90%;
    margin: auto;
  }

  .half {
    width: 15rem;
  }
}

@media screen and (min-width:1029px) {
  #questions-style {
    margin-top: 9vmax;
    width: 100%;
  }

  form {
    margin-left: 10rem;
  }

  .question-table-style {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .inputWidth {
    width: 100rem !important;
    margin: auto;
  }
  
  .selectWidth {
    width: 50rem;
    margin-top: 1rem;
  }
  
  .questionBut {
    margin-top: 1rem;
    margin-left: 72%;
    margin-bottom: 1rem;
    width: 20%;
    padding: 1.2rem;
    font-size: 1.2rem;
  }
  
  .maxStyle {
    margin-top: 1rem;
  }

  .half {
    width: 45rem !important;
  }
}