@media screen and (min-width: 1029px) {
  
  #category-style {
    margin-top: 10vmax;
  }

  .inputTaille {
    width: 20rem;
  }

  .table-style {
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
  }

  .catClass {
    margin: auto;
    width: 90%;
  }

  .button-style {
    margin-top: 1rem;
    width: 180%;
  }

  h1 {
    text-align: center;
  }
}
@media screen and (max-width: 1028px) {
  
  #category-style {
    margin-top: 11vmax;
  }

  form {
    max-width: 95%;
  }

  h1 {
    text-align: center;
  }
}