#category-style {
  margin-top: 9vmax;
}

.table-style {
  width: 80% !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  
}

.catClass {
  margin-left: 60%;
}

h1 {
  text-align: center;
}