@media screen and (min-width: 1029px) {
  
  #category-style {
    margin-top: 10vmax;
  }

  .inputTaille {
    width: 23rem;
    margin-right: 5rem;
  }

  .table-style {
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
  }

  .catClass {
    margin: auto;
    width: 90%;
  }

  .button-style {
    margin-top: 1rem;
    width: 180%;
  }

  form {
    max-width: 95%;
    margin-right: 6rem;
  }

  h1 {
    text-align: center;
  }
}
@media screen and (max-width: 1028px) {
  
  #category-style {
    margin-top: 11vmax;
  }

  form {
    max-width: 95%;
  }

  h1 {
    text-align: center;
  }

  .button-style {
    margin-top: 1rem;
    width: 180%;
    padding: 0.5rem;
    font-size: 1.3rem;
  }

  .inputTaille {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  .input-style {
    width: 19rem;
    padding: 1.5rem;
  }
}