img {
  width: 15vmax;
  height: 7vmax;
  margin-top: -10px;
}

.nav-item {
  margin-left: 30%;
  margin-top: 2%;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 4px;
  min-width: 35%;
  height: 5%;
  text-align: center;
}

.nav-item:hover {
  background-color: grey;
}

.login {
  margin-left: 50%;
  font-size: 20px;
  margin-top: 2%;
}