@media screen and (max-width: 780px) {
  .nav-link {
    font-size: 4vmax;
    margin-top: 2%;
    height: 5%;
    text-align: center; 
  }

  .nav {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
  }
  .login {
     font-size: 4vmax;
     margin-top: 0.1rem;
   } 
}

@media screen and (min-width:781px) and (max-width: 1920px) {
  .nav-item {
    /*margin-left:20%;*/
    margin-top: 2%; 
    font-size: 1.5vmax;
    /*font-size: 20px;*/
   /* border: 1px solid black;
    border-radius: 4px; */
   /* min-width: 35%;*/
    height: 5%;
    text-align: center;
  }
  
  .login {
    font-size: 1.5vmax;
    margin-left: 25em;
    margin-top: 1.3rem;
  }
}

img {
  width: 15vmax;
  height: 7vmax;
  margin-top: -10px;
}
